name: Build, push and deploy
on: [push]
env:
  IMAGE_BASE: europe-north1-docker.pkg.dev/${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}/helseopplysninger/${{ github.event.repository.name }}

jobs:
  build:
    name: Checkout code and create docker tag
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.set-image.outputs.image }}
    steps:
      - name: Setter tag-navn
        run: echo "TAG=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Setter image
        id: set-image
        run:  echo "image=${{ env.IMAGE_BASE }}:${{ env.TAG }}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4

      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          image: ${{ env.IMAGE_BASE }}:${{ env.TAG }}
          team: helseopplysninger
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy:
    strategy:
      matrix:
        cluster: [ dev-gcp, prod-gcp ]
    name: Deploy til ${{matrix.cluster}}
    needs: build
    runs-on: ubuntu-latest
    environment: ${{matrix.cluster}}:aap
    env:
      PRINT_PAYLOAD: true
      TIMEOUT: 30m
      APIKEY: ${{secrets.NAIS_DEPLOY_APIKEY}}
      RESOURCE: nais.yaml
      CLUSTER: ${{matrix.cluster}}
      IMAGE: ${{needs.build.outputs.image}}
    steps:
      -   uses: actions/checkout@v4
      -   uses: nais/deploy/actions/deploy@v1